# heatmap

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
output_data = pd.read_csv("/Users/SailahariMullapudi/Desktop/PanPred-master/test_data/Metadata.csv")
R = ['R']

In [36]:
CTZ_count = output_data.groupby(['Year', 'CTZ'])['Isolate'].count().reset_index().rename(columns={"CTZ": "Resistance", "Isolate": "CTZ"})
df_sumCTZ = CTZ_count.groupby(['Year']).sum().rename(columns={"CTZ": "SR_CTZ_Sum"})
df_mergeCTZ = pd.merge(CTZ_count, df_sumCTZ,  how='left', on=['Year']).rename(columns={"CTZ": "Antibiotic_Value", "SR_CTZ_Sum": "Antibitoic_Sum"})
rslt_dfCTZ = df_mergeCTZ[df_mergeCTZ['Resistance'].isin(R)]
df_proportionCTZ = rslt_dfCTZ.assign(Proportion = (rslt_dfCTZ.Antibiotic_Value / rslt_dfCTZ.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "CTZ")
df_proportionCTZ

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
4,1998.0,R,1,3,33.333333,CTZ
8,2002.0,R,5,107,4.672897,CTZ
10,2003.0,R,3,107,2.803738,CTZ
12,2004.0,R,3,109,2.752294,CTZ
14,2005.0,R,8,111,7.207207,CTZ
16,2006.0,R,10,110,9.090909,CTZ
18,2007.0,R,11,152,7.236842,CTZ
20,2008.0,R,55,196,28.061224,CTZ
22,2009.0,R,42,204,20.588235,CTZ
24,2010.0,R,2,152,1.315789,CTZ
26,2011.0,R,12,169,7.100592,CTZ
28,2012.0,R,4,99,4.040404,CTZ
30,2013.0,R,1,3,33.333333,CTZ
32,2014.0,R,7,10,70.000000,CTZ
34,2015.0,R,77,163,47.239264,CTZ
36,2017.0,R,17,98,17.346939,CTZ

In [37]:
CTX_count = output_data.groupby(['Year', 'CTX'])['Isolate'].count().reset_index().rename(columns={"CTX": "Resistance", "Isolate": "CTX"})
df_sumCTX = CTX_count.groupby(['Year']).sum().rename(columns={"CTX": "SR_CTX_Sum"})
df_mergeCTX = pd.merge(CTX_count, df_sumCTX,  how='left', on=['Year']).rename(columns={"CTX": "Antibiotic_Value", "SR_CTX_Sum": "Antibitoic_Sum"})
rslt_dfCTX = df_mergeCTX[df_mergeCTX['Resistance'].isin(R)]
df_proportionCTX = rslt_dfCTX.assign(Proportion = (rslt_dfCTX.Antibiotic_Value / rslt_dfCTX.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "CTX")
df_proportionCTX

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,CTX
6,2002.0,R,5,107,4.672897,CTX
8,2003.0,R,3,107,2.803738,CTX
10,2004.0,R,7,109,6.422018,CTX
12,2005.0,R,13,111,11.711712,CTX
14,2006.0,R,14,110,12.727273,CTX
16,2007.0,R,16,152,10.526316,CTX
18,2008.0,R,60,196,30.612245,CTX
20,2009.0,R,44,204,21.568627,CTX
22,2010.0,R,5,152,3.289474,CTX
24,2011.0,R,17,169,10.059172,CTX
26,2012.0,R,10,99,10.101010,CTX
28,2013.0,R,1,3,33.333333,CTX
30,2014.0,R,9,10,90.000000,CTX
32,2015.0,R,162,163,99.386503,CTX
34,2017.0,R,11,98,11.224490,CTX

In [38]:
AMP_count = output_data.groupby(['Year', 'AMP'])['Isolate'].count().reset_index().rename(columns={"AMP": "Resistance", "Isolate": "AMP"})
df_sumAMP = AMP_count.groupby(['Year']).sum().rename(columns={"AMP": "SR_AMP_Sum"})
df_mergeAMP = pd.merge(AMP_count, df_sumAMP,  how='left', on=['Year']).rename(columns={"AMP": "Antibiotic_Value", "SR_AMP_Sum": "Antibitoic_Sum"})
rslt_dfAMP = df_mergeAMP[df_mergeAMP['Resistance'].isin(R)]
df_proportionAMP = rslt_dfAMP.assign(Proportion = (rslt_dfAMP.Antibiotic_Value / rslt_dfAMP.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "AMP")
df_proportionAMP

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,AMP
1,1977.0,R,1,1,100.000000,AMP
4,1998.0,R,2,3,66.666667,AMP
6,1999.0,R,4,4,100.000000,AMP
7,2002.0,R,1,1,100.000000,AMP
8,2005.0,R,4,5,80.000000,AMP
10,2006.0,R,2,4,50.000000,AMP
12,2007.0,R,33,54,61.111111,AMP
14,2008.0,R,70,97,72.164948,AMP
16,2009.0,R,73,104,70.192308,AMP
18,2010.0,R,36,65,55.384615,AMP
20,2011.0,R,45,69,65.217391,AMP
22,2012.0,R,65,99,65.656566,AMP
24,2013.0,R,3,3,100.000000,AMP
25,2014.0,R,10,10,100.000000,AMP
26,2015.0,R,163,163,100.000000,AMP
27,2017.0,R,79,98,80.612245,AMP

In [41]:
AMX_count = output_data.groupby(['Year', 'AMX'])['Isolate'].count().reset_index().rename(columns={"AMX": "Resistance", "Isolate": "AMX"})
df_sumAMX = AMX_count.groupby(['Year']).sum().rename(columns={"AMX": "SR_AMX_Sum"})
df_mergeAMX = pd.merge(AMX_count, df_sumAMX,  how='left', on=['Year']).rename(columns={"AMX": "Antibiotic_Value", "SR_AMX_Sum": "Antibitoic_Sum"})
rslt_dfAMX = df_mergeAMX[df_mergeAMX['Resistance'].isin(R)]
df_proportionAMX = rslt_dfAMX.assign(Proportion = (rslt_dfAMX.Antibiotic_Value / rslt_dfAMX.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "AMX")
df_proportionAMX

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,2001.0,R,42,76,55.263158,AMX
2,2002.0,R,62,106,58.490566,AMX
4,2003.0,R,68,107,63.551402,AMX
6,2004.0,R,52,109,47.706422,AMX
8,2005.0,R,63,106,59.433962,AMX
10,2006.0,R,71,106,66.981132,AMX
12,2007.0,R,61,98,62.244898,AMX
14,2008.0,R,70,99,70.707071,AMX
16,2009.0,R,65,100,65.000000,AMX
18,2010.0,R,55,87,63.218391,AMX
20,2011.0,R,53,100,53.000000,AMX

In [42]:
AMC_count = output_data.groupby(['Year', 'AMC'])['Isolate'].count().reset_index().rename(columns={"AMC": "Resistance", "Isolate": "AMC"})
df_sumAMC = AMC_count.groupby(['Year']).sum().rename(columns={"AMC": "SR_AMC_Sum"})
df_mergeAMC = pd.merge(AMC_count, df_sumAMC,  how='left', on=['Year']).rename(columns={"AMC": "Antibiotic_Value", "SR_AMC_Sum": "Antibitoic_Sum"})
rslt_dfAMC = df_mergeAMC[df_mergeAMC['Resistance'].isin(R)]
df_proportionAMC = rslt_dfAMC.assign(Proportion = (rslt_dfAMC.Antibiotic_Value / rslt_dfAMC.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "AMC")
df_proportionAMC

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,2001.0,R,15,76,19.736842,AMC
2,2002.0,R,29,106,27.358491,AMC
4,2003.0,R,30,107,28.037383,AMC
6,2004.0,R,23,109,21.100917,AMC
8,2005.0,R,31,106,29.245283,AMC
10,2006.0,R,47,110,42.727273,AMC
12,2007.0,R,45,150,30.000000,AMC
14,2008.0,R,51,154,33.116883,AMC
16,2009.0,R,62,171,36.257310,AMC
18,2010.0,R,43,152,28.289474,AMC
20,2011.0,R,45,169,26.627219,AMC
22,2012.0,R,26,98,26.530612,AMC
24,2014.0,R,4,9,44.444444,AMC
26,2015.0,R,61,163,37.423313,AMC

In [43]:
TZP_count = output_data.groupby(['Year', 'TZP'])['Isolate'].count().reset_index().rename(columns={"TZP": "Resistance", "Isolate": "TZP"})
df_sumTZP = TZP_count.groupby(['Year']).sum().rename(columns={"TZP": "SR_TZP_Sum"})
df_mergeTZP = pd.merge(TZP_count, df_sumTZP,  how='left', on=['Year']).rename(columns={"TZP": "Antibiotic_Value", "SR_TZP_Sum": "Antibitoic_Sum"})
rslt_dfTZP = df_mergeTZP[df_mergeTZP['Resistance'].isin(R)]
df_proportionTZP = rslt_dfTZP.assign(Proportion = (rslt_dfTZP.Antibiotic_Value / rslt_dfTZP.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "TZP")
df_proportionTZP

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,2001.0,R,1,76,1.315789,TZP
2,2002.0,R,5,106,4.716981,TZP
4,2003.0,R,9,107,8.411215,TZP
6,2004.0,R,11,109,10.091743,TZP
8,2005.0,R,3,106,2.830189,TZP
10,2006.0,R,14,110,12.727273,TZP
12,2007.0,R,5,149,3.355705,TZP
14,2008.0,R,6,154,3.896104,TZP
16,2009.0,R,12,170,7.058824,TZP
18,2010.0,R,9,152,5.921053,TZP
20,2011.0,R,3,169,1.775148,TZP
22,2012.0,R,6,96,6.250000,TZP
24,2014.0,R,2,9,22.222222,TZP
26,2015.0,R,15,163,9.202454,TZP

In [44]:
CXM_count = output_data.groupby(['Year', 'CXM'])['Isolate'].count().reset_index().rename(columns={"CXM": "Resistance", "Isolate": "CXM"})
df_sumCXM = CXM_count.groupby(['Year']).sum().rename(columns={"CXM": "SR_CXM_Sum"})
df_mergeCXM = pd.merge(CXM_count, df_sumCXM,  how='left', on=['Year']).rename(columns={"CXM": "Antibiotic_Value", "SR_CXM_Sum": "Antibitoic_Sum"})
rslt_dfCXM = df_mergeCXM[df_mergeCXM['Resistance'].isin(R)]
df_proportionCXM = rslt_dfCXM.assign(Proportion = (rslt_dfCXM.Antibiotic_Value / rslt_dfCXM.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "CXM")
df_proportionCXM

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,CXM
6,2001.0,R,10,76,13.157895,CXM
8,2002.0,R,12,107,11.214953,CXM
10,2003.0,R,9,107,8.411215,CXM
12,2004.0,R,16,109,14.678899,CXM
14,2005.0,R,20,111,18.018018,CXM
16,2006.0,R,23,110,20.909091,CXM
18,2007.0,R,25,152,16.447368,CXM
20,2008.0,R,75,196,38.265306,CXM
22,2009.0,R,71,204,34.803922,CXM
24,2010.0,R,22,152,14.473684,CXM
26,2011.0,R,23,169,13.609467,CXM
28,2012.0,R,14,99,14.141414,CXM
30,2013.0,R,1,3,33.333333,CXM
32,2014.0,R,9,10,90.000000,CXM
34,2015.0,R,162,163,99.386503,CXM
36,2017.0,R,20,98,20.408163,CXM

In [45]:
CET_count = output_data.groupby(['Year', 'CET'])['Isolate'].count().reset_index().rename(columns={"CET": "Resistance", "Isolate": "CET"})
df_sumCET = CET_count.groupby(['Year']).sum().rename(columns={"CET": "SR_CET_Sum"})
df_mergeCET = pd.merge(CET_count, df_sumCET,  how='left', on=['Year']).rename(columns={"CET": "Antibiotic_Value", "SR_CET_Sum": "Antibitoic_Sum"})
rslt_dfCET = df_mergeCET[df_mergeCET['Resistance'].isin(R)]
df_proportionCET = rslt_dfCET.assign(Proportion = (rslt_dfCET.Antibiotic_Value / rslt_dfCET.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "CET")
df_proportionCET

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,CET
5,1999.0,R,1,4,25.000000,CET
7,2002.0,R,1,1,100.000000,CET
8,2005.0,R,4,5,80.000000,CET
11,2007.0,R,7,54,12.962963,CET
13,2008.0,R,50,97,51.546392,CET
15,2009.0,R,43,104,41.346154,CET
17,2010.0,R,7,65,10.769231,CET
19,2011.0,R,9,69,13.043478,CET
21,2012.0,R,18,99,18.181818,CET
23,2013.0,R,2,3,66.666667,CET
25,2014.0,R,9,10,90.000000,CET
27,2015.0,R,162,163,99.386503,CET
29,2017.0,R,21,98,21.428571,CET

In [46]:
GEN_count = output_data.groupby(['Year', 'GEN'])['Isolate'].count().reset_index().rename(columns={"GEN": "Resistance", "Isolate": "GEN"})
df_sumGEN = GEN_count.groupby(['Year']).sum().rename(columns={"GEN": "SR_GEN_Sum"})
df_mergeGEN = pd.merge(GEN_count, df_sumGEN,  how='left', on=['Year']).rename(columns={"GEN": "Antibiotic_Value", "SR_GEN_Sum": "Antibitoic_Sum"})
rslt_dfGEN = df_mergeGEN[df_mergeGEN['Resistance'].isin(R)]
df_proportionGEN = rslt_dfGEN.assign(Proportion = (rslt_dfGEN.Antibiotic_Value / rslt_dfGEN.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "GEN")
df_proportionGEN

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,GEN
1,1977.0,R,1,1,100.000000,GEN
6,2001.0,R,7,76,9.210526,GEN
8,2002.0,R,5,107,4.672897,GEN
10,2003.0,R,2,107,1.869159,GEN
12,2004.0,R,5,109,4.587156,GEN
14,2005.0,R,11,111,9.909910,GEN
16,2006.0,R,10,110,9.090909,GEN
18,2007.0,R,16,152,10.526316,GEN
20,2008.0,R,34,196,17.346939,GEN
22,2009.0,R,23,204,11.274510,GEN
24,2010.0,R,10,152,6.578947,GEN
26,2011.0,R,15,169,8.875740,GEN
28,2012.0,R,6,99,6.060606,GEN
30,2013.0,R,1,3,33.333333,GEN
32,2014.0,R,5,10,50.000000,GEN
34,2015.0,R,119,163,73.006135,GEN
36,2017.0,R,5,98,5.102041,GEN

In [47]:
TBM_count = output_data.groupby(['Year', 'TBM'])['Isolate'].count().reset_index().rename(columns={"TBM": "Resistance", "Isolate": "TBM"})
df_sumTBM = TBM_count.groupby(['Year']).sum().rename(columns={"TBM": "SR_TBM_Sum"})
df_mergeTBM = pd.merge(TBM_count, df_sumTBM,  how='left', on=['Year']).rename(columns={"TBM": "Antibiotic_Value", "SR_TBM_Sum": "Antibitoic_Sum"})
rslt_dfTBM = df_mergeTBM[df_mergeTBM['Resistance'].isin(R)]
df_proportionTBM = rslt_dfTBM.assign(Proportion = (rslt_dfTBM.Antibiotic_Value / rslt_dfTBM.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "TBM")
df_proportionTBM

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,TBM
1,1977.0,R,1,1,100.000000,TBM
5,1999.0,R,1,4,25.000000,TBM
7,2002.0,R,1,1,100.000000,TBM
8,2005.0,R,5,5,100.000000,TBM
10,2007.0,R,8,54,14.814815,TBM
12,2008.0,R,37,97,38.144330,TBM
14,2009.0,R,31,104,29.807692,TBM
16,2010.0,R,4,65,6.153846,TBM
18,2011.0,R,8,69,11.594203,TBM
20,2012.0,R,10,99,10.101010,TBM
22,2013.0,R,1,3,33.333333,TBM
24,2014.0,R,7,10,70.000000,TBM
26,2015.0,R,109,163,66.871166,TBM
28,2017.0,R,8,98,8.163265,TBM

In [48]:
TMP_count = output_data.groupby(['Year', 'TMP'])['Isolate'].count().reset_index().rename(columns={"TMP": "Resistance", "Isolate": "TMP"})
df_sumTMP = TMP_count.groupby(['Year']).sum().rename(columns={"TMP": "SR_TMP_Sum"})
df_mergeTMP = pd.merge(TMP_count, df_sumTMP,  how='left', on=['Year']).rename(columns={"TMP": "Antibiotic_Value", "SR_TMP_Sum": "Antibitoic_Sum"})
rslt_dfTMP = df_mergeTMP[df_mergeTMP['Resistance'].isin(R)]
df_proportionTMP = rslt_dfTMP.assign(Proportion = (rslt_dfTMP.Antibiotic_Value / rslt_dfTMP.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "TMP")
df_proportionTMP

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
0,1970.0,R,1,1,100.000000,TMP
5,1999.0,R,3,4,75.000000,TMP
8,2005.0,R,4,5,80.000000,TMP
10,2006.0,R,2,4,50.000000,TMP
12,2007.0,R,24,54,44.444444,TMP
14,2008.0,R,50,97,51.546392,TMP
16,2009.0,R,53,104,50.961538,TMP
18,2010.0,R,19,65,29.230769,TMP
20,2011.0,R,24,69,34.782609,TMP
22,2012.0,R,37,99,37.373737,TMP
24,2013.0,R,1,3,33.333333,TMP
26,2014.0,R,8,10,80.000000,TMP
28,2015.0,R,102,163,62.576687,TMP
30,2017.0,R,19,98,19.387755,TMP

In [49]:
CIP_count = output_data.groupby(['Year', 'CIP'])['Isolate'].count().reset_index().rename(columns={"CIP": "Resistance", "Isolate": "CIP"})
df_sumCIP = CIP_count.groupby(['Year']).sum().rename(columns={"CIP": "SR_CIP_Sum"})
df_mergeCIP = pd.merge(CIP_count, df_sumCIP,  how='left', on=['Year']).rename(columns={"CIP": "Antibiotic_Value", "SR_CIP_Sum": "Antibitoic_Sum"})
rslt_dfCIP = df_mergeCIP[df_mergeCIP['Resistance'].isin(R)]
df_proportionCIP = rslt_dfCIP.assign(Proportion = (rslt_dfCIP.Antibiotic_Value / rslt_dfCIP.Antibitoic_Sum) * 100).assign(Antibiotic_Name = "CIP")
df_proportionCIP

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
6,2001.0,R,8,76,10.526316,CIP
8,2002.0,R,9,107,8.411215,CIP
10,2003.0,R,12,107,11.214953,CIP
12,2004.0,R,21,109,19.266055,CIP
14,2005.0,R,19,111,17.117117,CIP
16,2006.0,R,32,110,29.090909,CIP
18,2007.0,R,40,152,26.315789,CIP
20,2008.0,R,51,196,26.020408,CIP
22,2009.0,R,49,204,24.019608,CIP
24,2010.0,R,25,152,16.447368,CIP
26,2011.0,R,33,169,19.526627,CIP
28,2012.0,R,18,99,18.181818,CIP
30,2013.0,R,1,3,33.333333,CIP
32,2014.0,R,5,10,50.000000,CIP
34,2015.0,R,94,163,57.668712,CIP
36,2017.0,R,9,98,9.183673,CIP

In [51]:
all_antibiotics = ["CTZ", "CTX", "AMP", "AMX", "AMC", "TZP", "CXM", "CET", "GEN", "TBM", "TMP", "CIP"]
all_antibiotics = ["CTZ"] # testing
for antibiotic in all_antibiotics:

    df_count = output_data.groupby(['Year', antibiotic])['Isolate'].count().reset_index().rename(columns={antibiotic: "Resistance", "Isolate": antibiotic})
    df_sum = df_count.groupby(['Year']).sum().rename(columns={antibiotic: f"SR_{antibiotic}_Sum"})
    df_merge = pd.merge(df_count, df_sumCTZ,  how='left', on=['Year']).rename(columns={antibiotic: "Antibiotic_Value", f"SR_{antibiotic}_Sum": "Antibitoic_Sum"})
    df_result = df_merge[df_merge['Resistance'].isin(R)]
    df_proportion = df_result.assign(Proportion = (df_result.Antibiotic_Value / df_result.Antibitoic_Sum) * 100).assign(Antibiotic_Name = antibiotic)

df_proportion.head()

,Year,Resistance,Antibiotic_Value,Antibitoic_Sum,Proportion,Antibiotic_Name
4,1998.0,R,1,3,33.333333,CTZ
8,2002.0,R,5,107,4.672897,CTZ
10,2003.0,R,3,107,2.803738,CTZ
12,2004.0,R,3,109,2.752294,CTZ
14,2005.0,R,8,111,7.207207,CTZ

In [62]:
all_antibiotics = ["CTZ", "CTX", "AMP", "AMX", "AMC", "TZP", "CXM", "CET", "GEN", "TBM", "TMP", "CIP"]
all_antibiotics = ["CTX", "AMP", "AMX", "AMC", "TZP", "CXM", "CET", "GEN", "TBM", "TMP", "CIP"] 
for antibiotic in all_antibiotics:

    df_count = output_data.groupby(['Year', antibiotic])['Isolate'].count().reset_index().rename(columns={antibiotic: "Resistance", "Isolate": antibiotic})
    df_sum = df_count.groupby(['Year']).sum().rename(columns={antibiotic: f"SR_{antibiotic}_Sum"})
    df_merge = pd.merge(df_count, df_sum,  how='left', on=['Year']).rename(columns={antibiotic: "Antibiotic_Value", f"SR_{antibiotic}_Sum": "Antibitoic_Sum"})
    df_result = df_merge[df_merge['Resistance'].isin(R)]
    df_proportion_temp = df_result.assign(Proportion = (df_result.Antibiotic_Value / df_result.Antibitoic_Sum) * 100).assign(Antibiotic_Name = antibiotic)
    df_proportion = pd.concat([df_proportion, df_proportion_temp], ignore_index=True)